{% include 'basehead.html' %}

<body class="p-2">
    {% include 'menu.html' %}
    <h1>Noticias de Interés</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for noticia in noticias %}
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="/static/img/noticias/{{ noticia.imagen_url }}" alt="Sin Foto">
                <div class="card-body">
                    <h5 class="card-title">{{ noticia.titulo }}</h5>
                    <p class="card-text">{{ noticia.cuerpo }}</p>
                    {% if user.is_authenticated %}
                    <p class="card-text">
                        {{ noticia.likes }}
                        {% if noticia.like > 0 %}
                        <a href="{% url 'removelike' user.id noticia.id %} "><img src="/static/img/heart_red.png" height="20" width="20"></a>
                        {% else %}
                        <a href="{% url 'addlike' user.id noticia.id %}"><img src="/static/img/heart_white.png" height="20" width="20"></a>
                        {% endif %} 
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    {% include 'base.html' %}
</body>